body {
    background-color: #a1f5dd;
}

nav {
    background-color: #1f7367;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 3px;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #000000;
    padding: 5px;
    text-align: center;
}

form {
    width: 20%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1f7367;
    padding: 20px;
    border-radius: 5px;
}

label {
    color: white;
}

